[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
requests = "*"
halo = "*"
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
org = "python ghview/cli.py"
test = "pytest ghview/test"
